node_modules
dist
.DS_Store
.idea
.vscode
.cursor
.cursor/*
.code-workspace
*.code-workspace
.env
.env.*
src-tauri/target
src-tauri/gen
src-tauri/binaries/ffmpeg-*
src-tauri/binaries/ffprobe-*
*.dmg
*.app
*.app.tar.gz
*.log

